/*--------------------------------------------------------------
# Fix Container
--------------------------------------------------------------*/
.container {
  padding: 0 $gutter-width;
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}
@media #{$medium-and-up} {
  .container {
    width: 85%;
  }
}
@media #{$large-and-up} {
  .container {
    width: 980px;
  }
}
/*--------------------------------------------------------------
# END Fix Container
--------------------------------------------------------------*/