// Cards

$blanc:	#fff;
$noir: #000;
$text: #666c74;
$footer: #a3a9ab;
$duration: 0.3s;

$heightimg: 235px;

$heighthoverimg: 145px;
$heightbody: 185px;

$widthimg: 376px;

@mixin icon() {
	display: inline-block;
	font: normal normal normal 16px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
}

* {
	box-sizing: border-box;
}

	.card {
		@extend .z-depth-1;
		transition: box-shadow $duration;
		overflow: hidden;
		
		&:hover {
			@extend .z-depth-2;
		}
		a {
			color: inherit;
			text-decoration: none;
		}
	}

	.card-date {
		background: $primary-color;
		position: absolute;
		top: 20px;
		right: 20px;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		color: $blanc;
		text-align: center;
		line-height: 13px;
		font-weight: bold;
		padding-top: 10px;
		z-index: 50;
		&-day {
			display: block;
			font-size: 14px;
		}

		&-month {
			display: block;
			font-size: 10px;
			text-transform: uppercase;
		}
	}

	.card-body {
		position: relative;
		padding: 20px;
	}

	.card-description {
		// position: absolute;
		// left: 20px;
		// right: 20px;
		// bottom: 70px;

		// margin: 0;
		// padding: 0;
	}

	.card-title {
		padding: 0 0 10px 0;
		margin: 0;
		font-size: 22px;
		color: $noir;
		font-weight: bold;
		h2 {
			font-size: 22px;
			color: $noir;
			margin: 0;
			padding:0;
			line-height: 24px;
		}
		.card:hover &{
			
		}
	}

	.card-subtitle {
		margin: 0;
		padding: 0 0 10px 0;
		color: $secondary-color;
		font-size: 16px;
		text-transform: uppercase;
	}

	.card-category {
		position: absolute;
		top: -25px;
		left: 0;
		height: 25px;
		padding: 0 15px;
		background: $secondary-color;
		color: $blanc;
		text-transform: uppercase;
		font-size: 12px;
		line-height: 25px;
		z-index: 40;
		a {
			color: $blanc;
			text-decoration: none;
			text-transform: uppercase;
		}
	}

	.card-footer {
		position: absolute;
		color: $footer;
		bottom: 20px;
		left: 20px;
		right: 20px;
		font-size: 11px;
		.icon--comment {
			margin-left: 10px;
		}
	}

	.icon {
		display: inline-block;
		vertical-align: middle;
		margin-right: 2px;
		&:before {
			display: inline-block;
			text-align: center;
			height: 14px;
			width: 14px;
			margin-top: -2px;
			margin-right: 6px;
		}
	}

	.icon-comment {
		&:before {
			content: "\f0e6 ";
			@include icon;
		}
	}

	.icon-time {
		&:before {
			content: "\f017 ";
			@include icon;
		}
	}

@media #{$large-and-up}{

	.card {
		height:400px;
	}

	.card-thumb{
		height: $heightimg;
		overflow: hidden;
		background-color: $noir;
		transition: height $duration;

		img{
			display: block;
			opacity: 1;
			transition: opacity $duration, transform $duration;
			transform: scale(1);
		}

		.card:hover & img{
			opacity: 0.6;
			transform: scale(1.2);
		}
		.card:hover &{
			height: $heightimg - $heighthoverimg;
		}
	}


	.card-body {
		height: $heightbody;
		transition: height $duration;
		.card:hover &{ height: $heightbody + $heighthoverimg; }
	}
	

	.card-description {
		position: absolute;
		left: 20px;
		right: 20px;
		bottom: 60px;
		margin: 0;
		padding: 0;
		opacity: 0;
		transition: opacity $duration - 0.1s, transform $duration - 0.1s;
		transition-delay: 0s;
		transform: translateY(25px);
		.card:hover &{
			opacity: 1;
			transition-delay: 0.1s;
			transform: translateY(0);
		}
	}
}
